:root {
    --accent-color: #2196F3;
    --first-title-color: #fff;
    --second-title-color: #212121;

}

body {
    font-family: "Roboto", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

/*---------------------HEADER---------------------*/

.header-container {
    display: flex;
    align-items: center;
} 

.header-list {
    display: flex;
}

.header-connect {
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 52px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
    
}

.header-link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-email  {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
} 

.header-tel {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
} 

.header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.header-title-web {
    color: var(--accent-color);
}

.header-link:hover, 
.header-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover, 
.header-tel:focus  {
    color: var(--accent-color);
}

/*---------------------SOLUTIONS---------------------*/

.solutions-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
    padding-bottom: 30px;
    width: 696px;
    text-align: center;
    margin-left: 252px;
    margin-right: 252px;
}

.solutions {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.solutions-btn {
    font-family: inherit;
    font-weight: 700;
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    margin-right: 500px;
    margin-left: 500px;
    
}

.solutions-btn:hover, 
.solutions-btn:focus {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/*---------------------ABOUT---------------------*/

 .about-list {
    display: flex;
    width: 270px;
} 

.about-list:not(:last-child) {
    margin-right: 30px;
}
.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-container {
    display: flex;
}
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
}

.about-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575
}

/*---------------------AFTER ABOUT---------------------*/

.after-about-list {
    display: flex;
}

.after-about-item:not(:last-child) {
margin-right: 30px ;
}

.after-about {
    padding-top: 0px;
    padding-bottom: 94px;
}

.after-about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
    text-align: center;
}

/*---------------------TEAM---------------------*/

.team-card {
    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
}
.team-card:not(:last-child) {
margin-right: 30px;
}

.team-list {
    display: flex;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
    text-align: center;
}

.teammate-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.teammate-position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
    
}

/*---------------------FOOTER---------------------*/

.footer {
    background-color: #2F303A; 
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    margin-bottom: 20px;
}

.footer-title-web {
    color: var(--accent-color);
}

.address {
    margin-top: 20px;
}

.footer-addres {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    margin-bottom: 9px;
    font-style: normal;
    display: block;
}

.footer-email, .footer-tel {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    font-style: normal;
    display: block;
}

.footer-tel {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    display: block;
}

.footer-addres:hover, 
.footer-addres:focus,
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover, 
.footer-tel:focus  {
    color: var(--accent-color);
}
/*---------------------MAIN-PORTFOLIO---------------------*/

.list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
} 

.nav-btn {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-nav-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    padding: 6px 22px;
}

.list-btn-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-nav-btn:hover, .portfolio-nav-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
}

.projects-item {
    width: calc(100% / 9 - 30);
    margin-bottom: 30px;
    margin-left: 30px;
}

/* .projects-item:not(:nth-child(3n)) {
    margin-right: 30px;
} */

.projects-item-text {
    background: var(--first-title-color);
    border: 1px solid var(--border-card-color);
    padding: 20px 24px;
    border: 1px solid #EEEEEE
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    
    margin-bottom: 4px;
}

.projects-type {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875x;
    letter-spacing: 0.03em;
    color: #757575;
}